<!DOCTYPE html>
<html>
<head>
	<meta name="csrf-token" content="<%= csrfToken %>">
	<link rel="stylesheet" href="/css/pure-min.css">
 	<link rel="stylesheet" type="text/css" href="/css/newstyle.css">
</head>
<body>

	<div class="custom-menu-wrapper">
	  <div class="pure-menu custom-menu">
	    <a href="/" class="pure-menu-heading custom-menu-brand"> Home</a>
	    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	  </div>
	  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
	    <div class="custom-menu-screen"></div>
	    <ul class="pure-menu-list">
	      <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
	      <%if (user) { %>
	        <%if (user.admin) { %>
	          <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">Admin Panel</a></li>
	          <li class="pure-menu-item"><a href="/admin/submissions" class="pure-menu-link">Submissions</a></li>
	        <% } %>
	        <li class="pure-menu-item"><a href="/history" class="pure-menu-link">View History</a></li>
	        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link custom-menu-brand"> Username: <%= user.username %> </a></li>
	      <% } %>
	      <%if (!user) { %>
	        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
	      <% } %>
	    </ul>
	  </div>
	</div>
	<script>
	(function (window, document) {
	document.getElementById('toggle').addEventListener('click', function (e) {
	    document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
	    document.getElementById('toggle').classList.toggle('x');
	});
	})(this, this.document);
	</script>

<form action="/admin/submit" method="post" class="pure-form">
	<span>
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Submit" class="pure-button"/>
	</span>
</form>

<form action="/admin/remove" method="post" class="pure-form">
	<span>
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Remove" class="pure-button"/>
	</span>
</form>

<form action="/admin/crawlreddit" method="get" class="pure-form">
	<input type="submit" value="Crawl /r/DeepIntoYoutube" class="pure-button"/>
	</span>
</form>
<br>

<p id="vidRange">No videos loaded</p>

<table id="videoTable" cellspacing="5" class="table">
	<tr id="tableheader">
	   <td class = "header-cell">Controls</td>
	   <td class = "header-cell"> ID</td>
	   <td class = "header-cell">Thumbnail</td>
	   <td class = "header-cell">Title</td>
	   <td class = "header-cell">Views</td>
	   <td class = "header-cell">Skip %</td>
	   <td class = "header-cell">Error %</td>
 	</tr>
</table>

<p id="loadingMsg" style="display:none; text-align:center;">Loading more videos…</p>
<div id="scroll-sentinel" style="height:1px;"></div>

<br />

<script type="text/javascript" src="admin.js"></script>

</body>
</html>
