<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>But Why Though? — The Weird Side of YouTube</title>
  <meta name="description" content="&quot;I'm in the weird part of YouTube again&quot; — why weirdtube.wtf exists: a dedicated home for the strangest videos on the internet.">
  <link rel="canonical" href="https://weirdtube.wtf/butwhy">
  <link rel="stylesheet" href="<%= assetUrl('/css/pure-min.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= assetUrl('/css/newstyle.css') %>">
  <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
</head>
<body>
  <div class="custom-menu-wrapper">
	  <div class="pure-menu custom-menu">
	    <a href="/" class="pure-menu-heading custom-menu-brand">Home</a>
	    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	  </div>
	  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
	    <div class="custom-menu-screen"></div>
	    <ul class="pure-menu-list">
	      <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
	      <li class="pure-menu-item"><a href="/butwhy" class="pure-menu-link">But Why Though?</a></li>
	      <li class="pure-menu-item"><a href="/submit" class="pure-menu-link">Submit a Video</a></li>
	      <%if (user) { %>
	        <%if (user.admin) { %>
	          <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">Admin Panel</a></li>
	        <% } %>
	        <li class="pure-menu-item"><a href="/history" class="pure-menu-link">View History</a></li>
	        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link custom-menu-brand"> Username: <%= user.username %> </a></li>
	      <% } %>
	      <%if (!user) { %>
	        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
	      <% } %>
	    </ul>
	  </div>
	</div>
	<script>
	(function (window, document) {
	document.getElementById('toggle').addEventListener('click', function (e) {
	    document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
	    document.getElementById('toggle').classList.toggle('x');
	});
	})(this, this.document);
</script>
<br>
<br>
<br>
	<div  id='textbox'>
		<div  id='title'>
			<h1>But Why Though?</h1>
		<div  id='textbody'>
			<p>&ldquo;I&rsquo;m in the weird part of youtube again&rdquo; is a common comment on weird videos found on youtube. We wanted to create a dedicated home for just these videos.</p>
		</div>
    </div>
	</div>
</body>
</html>
